<% provide :title, t("title.edit_user") %>
<% provide :button_text, t("user.update.save") %>
<h1><%= t "user.update.td" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
