<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= render "notificationads/notification_center" %>
      </li>
      <li><%= link_to_unless_current t("language.en"), locale: :en %></li>
      <li><%= link_to_unless_current t("language.vi"), locale: :vi %></li>
    </ul>
  </div>
</nav>
