$red: #f00;
$black: #000;
$green: #65c931;
$blue: #15c;
$darkgreen: #2f5e17;
$white: #fff;
$line_darkgreen: #274e13;
$pink: #e06666;
$gray_white: #efefef;
$gray_dark: #585f60;
$light_green: #7fd553;
$translucent_green: #9ddf7c;
$matte_white: #f7f7f7;
$silver: #ecf0f1;
$white_color: #fff;
$white_shadow: #dddddd;
$white_light: #f0f0f0;
$white_light_1: #e9eaed;
