@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "color";

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 70%;
  position: relative;
  margin-left: 360px;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav {
}

#sidebar .nav a {
  background: none;
  border-bottom: 1px solid #455a64;
  color: #cfd8dc;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover {
  background: none;
  color: #eceff1;
}

#sidebar .nav a i {
  margin-right: 16px;
}

label{
  margin-top: 10px;
}
.submit{
  margin-top: 10px;
}

.back-btn{
  margin-top: 10px;
}
.detailForm{
  margin-left: 500px;
}
.td-img{
  width:120px
}
.th-action{
  text-align: center;
}
.form-search{
  padding: 20px 0px 8px 200px;
}
.search-client{
  padding-top: 15px;
  width: 600px;
}
.button-search{
  width: 43px;
  height: 34px;
}
.btn-badge {
  color: $white;
  font-size: 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 8px;
  border-radius: 15px;
}
.btn-badge--red {
  background: $red;
}
.noti-li{
  padding: 10px 0px 3px 5px;
  margin-left: 11px;
  margin-top: 5px;
  height: 57px;
  width: 162px;
  font-size: 10px;
  text-align: center;
  border-radius: 10px;
}
.not-read {
  background-color: $green;
}
.seen {
  background-color: $gray_dark;
}
.scroll-noti{
  height:300px;
  overflow: auto;
}
.paginate-customer {
  padding-left: 30%;
}
.product-image {
  width: 253px;
  max-height: 252px;
}
.social-share-button .ssb-icon {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 30px 30px !important;
  display: inline-block !important;
  height: 35px !important;
  width: 40px !important;
}
.social-share-button {
  right: 1px;
  top: 0px;
}
